<div ng-controller="ExpressionsCtrl">
  <div  class="row">
    <div id="screen" class="well col-md-9">
      <img src="#" />
    </div>
    <div class="col-md-3">
      <div class="list-group text-center">
        <a href="" class="list-group-item" ng-click="emotion(1)"> Happiness </a>
        <a href="" class="list-group-item" ng-click="emotion(2)"> Sadness </a>
        <a href="" class="list-group-item" ng-click="emotion(3)"> Anger </a>
        <a href="" class="list-group-item" ng-click="emotion(4)"> Disgust </a>
        <a href="" class="list-group-item" ng-click="emotion(5)"> Fear </a>
        <a href="" class="list-group-item" ng-click="emotion(6)"> Surprise </a>
        <a href="" class="list-group-item active"> Muscle &amp; AUs </a>
      </div>
    </div>
  </div>
  <p class="row well well-lg" ng-include="expression.url">
  </p>
</div>