<div class="jumbotron">
	<div class="container">
		<h1 class="col-md-4"> Glossary </h1>
		<div class="col-md-8">
			<p> Research about emotions, action units, and facial muscles. </p>
			<form role="search">
				<div class="form-group">
					<input type="text"
					       class="form-control"
					       placeholder="search"
					       ng-model="search" />
				</div>
			</form>
		</div>
	</div>
</div>
<div ng-controller="GlosCtrl">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Information</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="info in glossary | filter:search">
				<td>{{info.title}}</td>
				<td>{{info.text}}</td>
			</td>
		</tbody>
	</table>
</div>
